//COLORS

$dark-grey: #626262;
$light-grey: #fbfbfb;
$box1:#4eb2f7;
$box2: #c049f8;
$box3: #817eff;
$box4: #f74770;
$orange: #fc6744;
$dark-orange: #ff5c36;
$dark: #170f1c;
$black: #000000;
$white: #ffffff;
$massageColor: #211a18;


//FONTS-FAMILY

$open_sans_semibold: "Open Sans-Semibold";
$open_sans: "Open Sans"

