@import 'config';
@import 'header';
@import 'media';
@import 'process';
@import 'featured';
@import 'client';
@import 'social';
@import 'contact';
@import 'provide';
@import 'team';
@import 'slick';


body {
    margin: 0;
   
    p {
        margin: 0;
        padding: 0;
    };

    .content {
        max-width: 1800px;
    };
    
};
